/client/nichidai2016/dist/*
/client/nichidai2016/node_modules/*
/client/nichidai2016/.git/*
/.apt_generated/
/target/generated-sources/
/target/m2e-wtp/
/target/TomcatHelloWorldApp-1.0-SNAPSHOT/
/target/maven-archiver/
/target/maven-status/
/target/TomcatHelloWorldApp-1.0-SNAPSHOT.war
/target/Nichidai2016App-1.0-SNAPSHOT
/target/Nichidai2016App-1.0-SNAPSHOT.war
/target/classes/
/temp/
ROOT.war