<h4>Connect to "Yes or No" system.</h4>
<div class="form-group row" *ngIf="isValid">
  <button class="btn btn-success" id="connect" (click)="connect()">Connect</button>
</div>
<h4>{{loading}}</h4>
<div class="form-inline" *ngIf="showMain">
  <h4>Q.{{question}}</h4>
  <div *ngIf="showAns">
    <h6>Select Your Choice!</h6>
    <button class="btn btn-danger" (click)="sendNo()">No</button>
    <button class="btn btn-success" (click)="sendYes()">Yes</button>
    <h4>A.{{result}}</h4>
  </div>
</div>
