<h4>Connect to "Yes or No" system.</h4>
<div class="form-group row">
  <button class="btn btn-danger" id="disconnect" [disabled]="isValid" (click)="disconnect()">Disconnect</button>
  <button class="btn btn-success" id="connect" [disabled]="isValid" (click)="connect()">Connect</button>
</div>

<div class="form-inline" id="conversationDiv">
  <h4>Q.{{question}}</h4>
  <h6>Select Your Choice!</h6>
  <button class="btn btn-danger" (click)="sendNo()">No</button>
  <button class="btn btn-success" (click)="sendYes()">Yes</button>
  <h4>A.{{result}}</h4>
</div>
