<h4>"Yes or No" system.</h4>
<div class="form-group row" *ngIf="isValid">
  <button class="btn btn-success" id="connect" (click)="connect()">Connect</button>
</div>
<h4>{{loading}}</h4>
<div class="form-inline" *ngIf="showMain">
  <h4>Q.{{question}}</h4>
  <div *ngIf="showAns">
    <h6>Select Your Choice!</h6>
    <div class="row">
      <div class="col-xs-6">
        <div class="card card-danger card-block" (click)="sendNo()">
          <p class="card-title text-xs-center h2">No</p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card card-success card-block" (click)="sendYes()">
          <p class="card-title text-xs-center h2">Yes</p>
        </div>
      </div>
    </div>
    <h3>A.{{result}}</h3>
  </div>
</div>
