<h3>伝言ゲーム system.</h3>
<div *ngIf="connectFlag">
  <h4>Menu.</h4>
  <button class="btn btn-secondary" (click)="changePlayer()">プレイヤー</button>
  <button class="btn btn-secondary" (click)="changeDisplay()">途中結果画面</button>
</div>
<div id="conversationDiv">
  <div class="form-group row " *ngIf="showPlayer">
    <div *ngIf="showTeamSelect">
      <h4>チーム選択</h4>
      <button class="btn btn-secondary" (click)="teamSet('ウォーターフォール')">ウォーターフォール</button>
      <button class="btn btn-secondary" (click)="teamSet('アジャイル')">アジャイル</button>
    </div>
    <div *ngIf="showNumSelect">
      <h4>順番</h4>
      <button class="btn btn-secondary" (click)="numSet('0')">1</button>
      <button class="btn btn-secondary" (click)="numSet('1')">2</button>
      <button class="btn btn-secondary" (click)="numSet('2')">3</button>
      <button class="btn btn-secondary" (click)="numSet('3')">4</button>
      <button class="btn btn-secondary" (click)="numSet('4')">5</button>
    </div>
    <h4>チーム：{{teamNum}} 順番：{{showNum}}</h4>
    <h4>伝言を入力してください</h4>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">1:</span>
      <input class="form-control" placeholder="1番目" type="text" [(ngModel)]="choiceNum[0]">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">2:</span>
      <input class="form-control" placeholder="2番目" type="text" [(ngModel)]="choiceNum[1]">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">3:</span>
      <input class="form-control" placeholder="3番目" type="text" [(ngModel)]="choiceNum[2]">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">4:</span>
      <input class="form-control" placeholder="4番目" type="text" [(ngModel)]="choiceNum[3]">
    </div>
    <br>
    <button class="btn btn-success" [disabled]="sendFlag" (click)="sendAns()">Send Answer</button>
    <span>{{result}}</span>
    <br>
    <span *ngFor="let num of choiceNum">{{num}} </span>
    <br>
    <button class="btn btn-danger" (click)="reset()">Reset</button>
  </div>
  <div class="form-group row " *ngIf="showDisplay">
    <h3>途中結果</h3>
    <button class="btn btn-success" id="connect" *ngIf="isValid" (click)="connect()">Connect</button>
    <h4>{{loading}}</h4>
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="h3">#</th>
            <th class="h3">ウォーターフォール</th>
            <th class="h3">アジャイル</th>
          </tr>
        </thead>
        <tbody *ngFor="let dengon of dengons; let idx = index;">
          <tr>
            <th scope="row" class="h3">{{idx+1}}</th>
            <td class="h3">{{dengon.water[0]}} → {{dengon.water[1]}} → {{dengon.water[2]}} → {{dengon.water[3]}} </td>
            <td class="h3">{{dengon.agile[0]}} → {{dengon.agile[1]}} → {{dengon.agile[2]}} → {{dengon.agile[3]}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="btn btn-secondary" *ngIf="!connectFlag" (click)="connectFlag=true;showPlayer=false;showDisplay=false;">メニューに戻る</button>
</div>
