<h4>Connect to "Admin" system.</h4>
<div class="form-group row">
  <button class="btn btn-danger" id="disconnect" [disabled]="isValid" (click)="disconnect()">Disconnect</button>
  <button class="btn btn-success" id="connect" [disabled]="isValid" (click)="connect()">Connect</button>
</div>
<div id="conversationDiv">
  <label>Question</label><br>
  <div class="btn-group">
    <button *ngFor="let qbuf of questions" class="btn  btn-secondary" (click)="sendQuestion(qbuf.qbody)">{{qbuf.qnum}}</button>
  </div>
  <!--<input class="form-control" type="text" [(ngModel)]="Cquestion" />
  <button class="btn btn-info" (click)="sendQuestion()">Send</button><br>-->
  <button class="btn" (click)="changeGraph()">Show Graph</button>
  <button class="btn" (click)="changeRanking()">Show Ranking</button>
  <button class="btn btn-danger" (click)="resetResult();">Reset</button>
  <br>
  <br>
  <h1>Q: {{Cquestion}}</h1>
  <br>
  <h3 *ngIf="!showRanking">投票数:{{result}}</h3>
</div>
<app-graph *ngIf="showGraph" [varYes]="varYes" [varNo]="varNo"></app-graph>
<div *ngIf="showRanking">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody *ngFor="let player of players">
      <tr>
        <th scope="row">{{player.rank}}</th>
        <td>{{player.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
