<h4>管理者 system.</h4>
<div class="form-group row" *ngIf="isValid">
  <button class="btn btn-success" id="connect" (click)="connect()">Connect</button>
</div>
<div id="conversationDiv" *ngIf="showMain">
  <div *ngIf="!showDengon">
    <div class="row">
      <div class="btn-group">
        <button *ngFor="let qbuf of questions; let idx = index;" class="btn  btn-secondary" (click)="sendQuestion(qbuf.qbody, idx)">{{qbuf.qnum}}</button>
      </div>
    </div>
    <div class="row pt-1">
      <button class="btn" (click)="changeGraph()">Show Graph</button>
      <button class="btn" (click)="changeRanking()">Show Ranking</button>
      <button class="btn btn-danger" (click)="resetResult();">Reset</button>
    </div>
    <div class="row pt-1">
      <h1>Q: {{Cquestion}}</h1>
    </div>
    <div class="row">
      <h3 *ngIf="!showRanking">投票数:{{result}}</h3>
    </div>
  </div>
</div>
<app-graph *ngIf="showGraph" [varYes]="varYes" [varNo]="varNo"></app-graph>
<div *ngIf="showRanking">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="h4">Rank</th>
        <th class="h4">Name</th>
        <th class="h4">Time(秒)</th>
      </tr>
    </thead>
    <tbody *ngFor="let player of players">
      <tr>
        <th scope="row" class="h4">{{player.rank}}</th>
        <td class="h4">{{player.name}}</td>
        <td class="h4">{{player.time}}</td>
      </tr>
    </tbody>
  </table>
</div>
