<h4>Connect to "Admin" system.</h4>
<div class="form-group row">
  <button class="btn btn-danger" id="disconnect" [disabled]="isValid" (click)="disconnect()">Disconnect</button>
  <button class="btn btn-success" id="connect" [disabled]="isValid" (click)="connect()">Connect</button>
</div>
<div id="conversationDiv">
  <label>Question</label>
  <input class="form-control" type="text" [(ngModel)]="question" />
  <button class="btn btn-info" (click)="sendQuestion()">Send</button>
  <h4>Result</h4>
  <h4>Yes:{{choiceYes}} No:{{choiceNo}}</h4>
  <button class="btn" (click)="changeGraph()">Show Graph</button>
  <button class="btn btn-danger" (click)="resetResult();">Reset</button>
</div>
<app-graph *ngIf="showGraph"></app-graph>
