<h4>Flick Type Battle.</h4>
<div class="form-group row" *ngIf="isValid">
  <button class="btn btn-success" id="connect" (click)="connect()">Connect</button>
</div>
<div class="form-inline" *ngIf="showMain">
  <div class="form-group">
    <label *ngIf="showOK">What is your name?</label>
    <div class="input-group">
      <input class="form-control" type="text" [(ngModel)]="player" *ngIf="showOK" (keyup.enter)="setName()" />
      <span class="input-group-btn">
        <button class="btn btn-success" (click)="setName()" *ngIf="showOK">OK</button>
      </span>
    </div>
    <label *ngIf="!showOK">Player:</label>
    <label class="font-weight-bold" *ngIf="!showOK">{{player}}</label>
    <button class="btn btn-outline-success" (click)="editName()" *ngIf="!showOK">Edit</button>
  </div>
  <h4>{{question}}</h4>
  <div class="form-group" *ngIf="showAns">
    <div class="input-group">
      <input class="form-control" type="text" onpaste="alert('コピペダメ。ゼッタイ。');return false;" [(ngModel)]="answer" (keyup.enter)="sendAns()"
      />
      <span class="input-group-btn">
        <button class="btn btn-info" (click)="sendAns()">Send</button>
      </span>
    </div>
  </div>
  <h4 *ngIf="showRanking">Rank:{{rank}}</h4>
</div>
