<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header"
    aria-expanded="false" aria-label="Toggle navigation"></button>
  <a class="navbar-brand" href="">Nichidai2016</a>
  <div class="collapse navbar-toggleable-xs" id="navbar-header">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <button class="btn btn-secondary" (click)="changeYesNo()">Yes or No</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-secondary" (click)="changeFlick()">フリック</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-secondary" (click)="changeDengon()">伝言ゲーム</button>
      </li>
      <li class="nav-item">
        <button class="btn" (click)="changeAdmin()">管理者</button>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="col-sm-11 offset-sm-1 col-md-12 offset-md-0 main">
    <app-main *ngIf="showMain">Loading main....</app-main>
    <app-admin *ngIf="showAdmin">Loading main....</app-admin>
    <app-typing *ngIf="showFlick">Loading main....</app-typing>
    <app-dengon *ngIf="showDengon">Loading main....</app-dengon>
  </div>
</div>
